body {
    color: aliceblue;
    background-size: cover;
    background: url("src/img/BGRW.png");
    background-color: #000000;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

a:link {
    color: #f1d4e6;
    text-decoration: none;
}

a:active {
    color: #f1d4e6;
    text-decoration: none;
}

a:visited {
    color: #f1d4e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main_body {
    min-height: auto;
    padding: 2rem;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin-top: 0;
    background-color: rgba(97, 98, 179, 0.23);
    border-radius: 5px;
}

.main_header {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    font-size: 30px;
    gap: 1%
}

.main_header img {
    width: 12%;
    height: 12%;
    filter: invert(100%);
}

.main_article {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 50%;
}

.main_article_header {
    font-size: 35px;
    font-weight: bold;
}

.main_article img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.main_nav {
    width: auto;
    justify-items: center;
    text-align: center;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.main_nav_items {
    position: inherit;
    display: flex;
    flex-direction: row;
    gap: 50%;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home_div {
    display: flex;
    flex-direction: row;
    bottom: 0px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 2%;
}

.home_div img {
    width: -96%;
    filter: invert(100%);
}

.home_text {
    font-size: 150%;
}

.main_footer {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.form_body {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.form_title {
    font-size: 20px;
}

.form_uppertext {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form_video {
    width: 500px;
    height: 333px;
}

.form_video iframe {
    width: 100%;
    height: 100%;
}

.img_with_desc {
    font-size: 14px;
    text-align: center;
}

.history_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    inset: 0;
    z-index: -1;
    justify-content: center;
    justify-items: center;
}

.album_audio {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.card {
    background: rgba(23, 23, 32, 0.47);
    box-shadow: 0 18px 200px -60px #000000;
    border-radius: 25px;
    position: relative;
    padding: 1rem 1.75rem;
    width: 20%;
    margin: 1%;
    align-items: center;
}


.card_title {
    font-size: 33px;
    font-weight: bold;
    margin: 0.2em;
    text-align: center;
    color: #51d1f6;
}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_text {
    text-justify: auto;
    font-size: 20px;
    align-items: center;
}

.card_text li:not(:last-child) {
    padding-bottom: 3.5%;
}

.card_image {
    height: 220px;
    border-radius: 10px;
    /* object-fit: cover; */
}

.webmap_image {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.webmap_image img {
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .main_body {
        gap: 10%;
    }

    .main_header {
        font-size: 20px;
    }

    .main_article {
        flex-direction: column;
    }

    .form_body {
        flex-direction: column;
    }

    .card_image {
        height: 190px;
    }
}


@media screen and (max-width: 900px) {
    .main_nav_items {
        gap: 10%;
    }

    .history_body {
        flex-flow: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}


@media screen and (max-width: 700px) {
    .main_header img {
        width: 25%;
    }

    .card_image {
        height: 220px;
    }
}

@media screen and (max-width: 400px) {
    .form_video{
        width: 240px;
        height: 135px;
    }
}
